.dishes {
  width: 400px;
  display: flex;

  &__list {
    list-style: none;
    border: 1px solid rgb(216, 216, 216);
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0 10px;
    overflow: auto;
    height: 200px;
    width: 300px;
    font-size: 18px;
    line-height: 24px;
  }

  &__element:hover {
    color: black;
  }
}
