.register-page {
  margin: 0 auto;
  margin-top: 15%;
  background-color: white;
  border-radius: 20px;
  width: 400px;
  padding: 20px;

  &__field {
    margin-bottom: 15px;
  }

  &__inputs {
    width: 100%;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    font-size: 18px;
  }
}
