.ingredients-select {
  position: relative;

  &__modal-controls {
    display: flex;
    justify-content: space-around;
  }

  &__list {
    max-height: 200px;
    overflow: auto;
    list-style: none;
    margin: 15px 0;
    padding: 0;
  }

  &__list-element {
    padding: 3px 0;

    &_selected {
      background-color: rgb(212, 212, 212);
    }

    &:hover {
      cursor: pointer;
      background-color: rgb(240, 240, 240);
    }
  }
}
