.menu.navbar {
  margin: 0;
  border-radius: 0;
}

.navbar__user-action {
  margin: 0 0 0 20px;
  padding: 0;
  position: relative;

  &:after {
    position: absolute;
    display: block;
    content: "";
    width: 2px;
    height: 15px;
    background-color: gray;
    left: -10px;
    top: 5px;
  }
}
