.my-places {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__list {
    list-style: none;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 10px;
    overflow: auto;
    height: 600px;
    font-size: 24px;
    line-height: 30px;
  }
}
