.form-page-wrapper {
  margin: 20px 0;
  background-color: white;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (min-width: 990px) {
  .form-page-wrapper {
    width: 900px;
    margin: 20px auto;
  }
}
