.modal {
  &__container {
    top: 0;
    overflow: hidden;
    padding: 20px;
    position: fixed;
    width: 390px;
    box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 10px;

    margin: 30vh auto;
    left: 0;
    right: 0;
    text-align: left;
  }

  &__container--transparent {
    box-shadow: none;
    background-color: transparent;
    width: 200px;
  }

  &__backdrop {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
