.form-field {
  padding: 10px 0;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  flex-wrap: wrap;
  &__custom-button {
    padding: 12px 30px;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
    font-size: 18px;
    margin-left: 20px;
    text-align: center;
    border: none;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    &:hover {
      cursor: pointer;
    }

    &_danger {
      background-color: rgb(199, 35, 35);
      color: white;
    }
  }

  &__group {
    width: 500px;
    display: flex;
    align-items: flex-start;

    &_manage-buttons {
      width: auto;
      margin: 0 auto;
    }
  }

  &__label {
    display: inline-block;
    font-size: 24px;
    width: 200px;
    padding: 10px 10px 10px 0;
    vertical-align: middle;
    flex-shrink: 0;

    &_hours {
      width: 40px;
    }
  }

  &__input {
    width: auto;
  }
}

.ui.input > .form-field__input_hours {
  margin-right: 70px;
  max-width: 120px;
  font-size: 18px;
}

@media screen and (min-width: 990px) {
  .form-field {
    &__group_manage-buttons {
      width: 500px;
      margin-left: 180px;
    }
  }
}
